@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    
    --primary-color: #D7E9F7;
    --bgcolor : #cad9e5;
}


body {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bgcolor);
    color: var(--dark-color);
    margin: auto;
}

.container {
    margin: auto;
    text-align: center;
    max-width: 70%;
}

#heading{
    margin: 3.5rem 0 2rem;
}

label,
input {
    display: block;
    padding: 0.75rem;
}

label {
    font-size: 1.3rem;
    padding-bottom: 0.5rem;
}

input {
    border-radius: 0.3rem;
    margin: auto;
    width: 20%;
    margin: 1rem auto 1rem;
}

#show-btn{
    font-size: large;
    margin: 1rem;
    padding: 0.5rem 1rem;
    background-color: white;

    border: solid 1.5px;
    border-radius: 1rem;
}

#output{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1rem;
}

footer {
    width: 100%;
    text-align: center;
    padding: 1.5rem;
    color: white;
    margin-top: 16rem;
    background-color: black;
}

.footer-list{
    display:inline;
    list-style: none;
    text-align: center;
    padding:  1rem;
  margin-top: 2rem;
   
}
.link{
    text-decoration: none;
    color: white;
    
}

.footer ul{
    padding-inline-start: 0px;
}